<section class="events">
  <div class="events__image">
    <img src="/imagenes/eventos/portada_eventos.jpg" alt="Imagen de eventos" class="events__image-img">
  </div>
  <h2 class="events__title">Próximos Eventos</h2>
  <div class="events__container">
    {{#each events}}
      <div class="event">
       
        <div class="event__image">
          <img src="{{this.image}}" alt="{{this.title}}" class="event__image-img">
        </div>
        <h3 class="event__title">{{this.title}}</h3> 
        <p class="event__date">{{this.date}}</p> 
        <p class="event__description">{{this.description}}</p> 
      </div>
    {{/each}}
  </div>
</section>
